 <style>
    body {
      background: url({{ (resources.Get "background/bz.webp").Permalink }}) no-repeat center top;
      background-size: cover;
      background-attachment: fixed;
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px); /* 注意：这里建议和上面的模糊值保持一致，避免兼容问题 */
    }
  </style>

<style>
  @font-face {
    font-family: 'youyuan';
    src: url({{ (resources.Get "font/youyuan.woff2").Permalink }}) format('truetype');
  }

  :root {
    --base-font-family: 'youyuan';
    --code-font-family: 'youyuan';
  }
</style>

<script src={{ (resources.Get "background/sakura.js").Permalink }}></script>

