{{ if eq .Params.title "链接 | Links" }}
    <div class="links-section">
        <h1 class="section-title">信息收集</h1>
        <div class="article-list--compact links">
            {{ range .Params.links }}
                {{ if eq .category "partners" }}
                    <article>
                        <a href="{{ .website }}" target="_blank" rel="noopener">
                            <div class="article-details">
                                <h2 class="article-title">{{- .title -}}</h2>
                                <footer class="article-time">
                                    {{ with .description }}
                                        {{ . }}
                                    {{ else }}
                                        {{ .website }}
                                    {{ end }}
                                </footer>
                            </div>
                            {{ with .image }}
                                {{ $permalink := . }}
                                {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
                                    {{ $permalink = .RelPermalink }}
                                {{ end }}
                                <div class="article-image">
                                    <img src="{{ $permalink }}" loading="lazy">
                                </div>
                            {{ end }}
                        </a>
                    </article>
                {{ end }}
            {{ end }}
        </div>

        <h1 class="section-title">工具收集</h1>
        <div class="article-list--compact links">
            {{ range .Params.links }}
                {{ if eq .category "unidirectional" }}
                    <article>
                        <a href="{{ .website }}" target="_blank" rel="noopener">
                            <div class="article-details">
                                <h2 class="article-title">{{- .title -}}</h2>
                                <footer class="article-time">
                                    {{ with .description }}
                                        {{ . }}
                                    {{ else }}
                                        {{ .website }}
                                    {{ end }}
                                </footer>
                            </div>
                            {{ with .image }}
                                {{ $permalink := . }}
                                {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
                                    {{ $permalink = .RelPermalink }}
                                {{ end }}
                                <div class="article-image">
                                    <img src="{{ $permalink }}" loading="lazy">
                                </div>
                            {{ end }}
                        </a>
                    </article>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ else }}
    <div class="article-list--compact links">
        {{ range $i, $link := .Params.links }}
            <article>
                <a href="{{ $link.website }}" target="_blank" rel="noopener">
                    <div class="article-details">
                        <h2 class="article-title">{{- $link.title -}}</h2>
                        <footer class="article-time">
                            {{ with $link.description }}
                                {{ . }}
                            {{ else }}
                                {{ $link.website }}
                            {{ end }}
                        </footer>
                    </div>
                    {{ with $link.image }}
                        {{ $permalink := . }}
                        {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
                            {{ $permalink = .RelPermalink }}
                        {{ end }}
                        <div class="article-image">
                            <img src="{{ $permalink }}" loading="lazy">
                        </div>
                    {{ end }}
                </a>
            </article>
        {{ end }}
    </div>
{{ end }}